* {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(15, 15, 35);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: rgba(55, 65, 81, .1);
    width: 80vw;
    max-height: 90vh;
    padding: 20px;
    border-radius: 20px;
}
._form_container { 
    display: flex !important; 
    justify-content: center !important; 
}
._form { 
    display: block; 
    font-size: 16px !important; 
    line-height: 1.25rem !important; 
    width: 90% !important; 
    margin-left: -30px;
    color: rgb(55, 65, 81) !important; 
    float: left;
}
._form_label { 
    color: rgb(55, 65, 81) !important; 
    font-size: 16px !important; 
    font-weight: 500 !important; 
    display: block !important; 
    margin-bottom: 0.35em !important; 
}
.form_input { 
    appearance: none !important; 
    font-size: 16px !important; 
    display: block !important; 
    border-radius: 0.375rem !important; 
    background-color: rgba(255, 255, 255, 0.2);
    padding: .5em .75em !important; 
    -webkit-appearance: none !important; 
    -moz-appearance: none !important; 
    border: none; 
    margin-bottom: 1em !important; 
    width: 100% !important; 
    max-width: 100% !important;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.form_input:focus{
    content: '';
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, transparent, rgba(100,100,100,.4));
    transition: all 0.3s ease-in-out;
    transform-origin: left;
}
._form_input_submit { 
    background-color: dodgerblue !important; 
    min-width: 100px;
    width: 30%;
    margin-left: 20px;
    font-size: 16px !important; 
    cursor: pointer !important; 
    color: #fff !important; 
    border: 0 !important; 
    border-radius: 0.375rem !important; 
    padding: .5em .75em !important; 
    text-decoration: none !important; 
    text-transform: none !important; 
}
._form_dropdown { 
    background-image: url("data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'none\' viewBox=\'0 0 20 20\'%3e%3cpath stroke=\'%236b7280\' stroke-linecap=\'round\' stroke-linejoin=\'round\' stroke-width=\'1.5\' d=\'M6 8l4 4 4-4\'/%3e%3c/svg%3e"); 
    background-position: right 0.5rem center !important; 
    background-repeat: no-repeat !important; 
    background-size: 1.5em 1.5em !important; 
    padding-right: 2.5rem !important; 
    -webkit-print-color-adjust: exact !important; 
}
._form_made_by { 
    color: rgba(55, 65, 81, .7); 
    font-size: .8em; 
    text-align: right; 
}
._form_made_by a, ._form_made_by a:active, ._form_made_by a:visited { 
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    text-decoration: none; 
    color: rgba(55, 65, 81, .7); 
}
._form_made_by a:hover { 
    color: rgba(55, 65, 81, .9); 
}
._form_made_by svg { 
    margin: 0 6px; 
}
._form_required { 
    color: #EF4444; 
}
#snippet_error { 
    width: 100%; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 20px;
}

/* table decoration */
#_table_content {
    width: 90vw;
}
._table_container { 
    width: 100%;
} 
._table { 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; font-size: 16px !important; 
    width: 100%; background: #ffffff; 
    margin: 0; 
    border: 1px solid rgba(34, 36, 38, 0.15); 
    box-shadow: none; 
    border-radius: 0.28571429rem; 
    text-align: left; 
    color: rgba(0, 0, 0, 0.87); 
    border-collapse: separate; 
    border-spacing: 0px; 
} 
._table th, 
._table td { 
    cursor: auto; 
    text-align: inherit; 
    color: rgba(0, 0, 0, 0.87); 
    padding: .6em .8em; vertical-align: inherit; 
    font-style: none; 
    font-weight: normal; 
    text-transform: none; 
    border-bottom: 1px solid rgba(34, 36, 38, 0.1); 
    border-left: none; 
} 
._table th.sortable { 
    cursor: pointer; 
} 
._table th { 
    background: #f9fafb; 
    font-weight: bold; 
} 
._table th, 
._table td { 
    border-left: 1px solid rgba(34, 36, 38, 0.1); 
} 
._table th:first-child, 
._table td:first-child { 
    border-left: none; 
} 
._table .sort_icon { 
    display: inline; 
    color: rgba(156, 163, 175, 1); 
    fill: currentColor; 
} 
    #_table_scroll { 
        max-width: 100%; 
        max-height: 60vh; 
        overflow: auto; 
    } 
    .form_search { 
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
        appearance: none !important; 
        font-size: 16px !important; 
        display: block !important; 
        border-radius: 0.375rem !important; 
        background-color: white !important; 
        color: black;
        padding: .5em .75em !important; 
        -webkit-appearance: none !important; 
        -moz-appearance: none !important; 
        border: none;
        outline: none;
        width: 100% !important; 
        max-width: 250px !important; 
        margin-bottom: 1em !important; 
    } 
    ._table_made_by { 
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
        color: rgba(55, 65, 81, .7); 
        font-size: .8em; text-align: right; 
        margin-top: 1em; 
    } 
    ._table_made_by a, 
    ._table_made_by a:active, 
    ._table_made_by a:visited { 
        display: flex; 
        justify-content: flex-end; 
        align-items: center; 
        text-decoration: none; 
        color: rgba(55, 65, 81, .7); 
    } 
    ._table_made_by a:hover { 
        color: rgba(55, 65, 81, .9); 
    } 
    ._table_made_by svg { 
        margin: 0 6px; 
    } 
    #snippet_error { 
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
        width: 100%; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        padding: 20px; 
    } 